*{
    margin: 0;
    padding: 0;
}

body{
    padding-top: 150px;
}

.cardToDo{
    margin: 0 auto 20px auto;
}

.ant-space{
    width: 100%;
}

.cardToDo h3{
    text-align: center;
}

.cardToDo .ant-typography{
    margin-bottom: 0 !important;
}  